
body{
  height: 100%;
  color:  rgb(54, 54, 54);
  background-color: rgb(236, 236, 236);
  text-align: center;
    padding:0;
    margin: 0;
    font-family: "Inconsolata", sans-serif;
    background-image: url("background.png");
  line-height: 1.8;
}




.bar {
  width: 100%;
	height: 70px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 0;
	overflow: hidden;
	position: fixed;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0 7px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
  border-radius: 20px 20px;

    }

    .middle-section-about{
       margin: auto;
      font-family: "Inconsolata", sans-serif;
      font-size: 18px;
      text-align: center;
      padding-top: 100px  ;
      padding-bottom: 100px; 
  
    }

    .inner-headline{
      font-family: "Inconsolata", sans-serif;
      font-size: 30px;
      text-decoration: underline;
    }

  .middle-section{
    margin: auto;
    width: 50%;
    font-family: "Inconsolata", sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 100px  ;
    padding-bottom: 100px;

  }




  .bar:hover{
    border-radius: 20px 20px;
    transition-duration: 0.3s;
  }

  #barPic{
    top: 0;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 10px 10px;
    margin-right: 40px;
  }
  

li {
  height: 30px;
  display: inline;
  float: left;
  margin-right: 12px;
  /* padding: 15px 25px; */
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #c7e6eb;
  border: none;
  border-radius: 12px;
  box-shadow: 0 6px rgb(233, 233, 233);

  }

li:hover {  
  background-color: #d0edee;
}

li:active{
  background-color: #d0edee;
  box-shadow: 0 5px rgb(184, 184, 184);
  transform: translateY(4px);
}

li a {
	display: inline;
	color: rgb(0, 0, 0);
	text-align: center;
	letter-spacing: 2px;
	padding: 10px ;
	text-decoration: none;
	font-family: "Inconsolata", sans-serif;
  }


  span:hover{
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    padding: 8px;
    transition-duration: 0.1s;
  }

  .slides{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    right: 50%;
    width: 800px;
    height: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #logo{
    /* background-image: url('https://lh3.googleusercontent.com/6yVMTwPWSNhvi_8E_b12rhMg8a-6hHCn4O5dMu9SmIyfibl6cEcLWnu9RmUkdOVypurZRBS-vYFxRSoh594Yd3fBw5uV6Yz_uabb0YjENOOaeCqFpf_R8AxUPy1mkVpAptOqYHitX34=w2400'); */
    height: 450px;
    opacity: 0.7;
  }

  .column {
    float: left;
    width: 50%;
    /* padding: 5px; */
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #logo2{
    background-image: url("https://lh3.googleusercontent.com/2m8mATqxz6PN27db_oUiuhoaAk8KxlnXu2ZKh-be1Pj02KpycIL6FMs7W5HTAAs_mMOXYBXzPtHWmTP5anml9ERXT1gYzqdaLwLxYthd2nCwyXnSsjJqmRkVM9Pu6fMfiOxFDsVNHmQ=w2400");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    min-height: 300px;
    height: 400px;
    opacity: 0.7;
  }

  #logo3{
    background-image: url("https://lh3.googleusercontent.com/ZE5J9L9EqxzZsZLhXVCIo5OIVp5sX_vQIoy9OHw_M9qSjRy2LWb4fSbEFGk37mTukajBSdxK87Z2_f-cAv6RSBD5bk3ptHJE8WWnbOQyNuZx560by3bz6QQk1rj7yfA4lIlgkM6naSE=w2400");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    min-height: 300px;
    height: 350px;
    opacity: 0.7;
  }


  .inner-text{
    position:absolute;
    top:92%;
    left:70%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    color: rgb(0, 0, 0);
    padding: 16px 18px;
    font-family: "Inconsolata", sans-serif;
    text-align: center;	
    background-color: #c2d4d4;
    font-size: 22px;
    border-radius: 10px 10px;
    opacity: 0.99;
  }

  #inner-text2{
    position:absolute;
    top:92%;
    left:70%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    color: rgb(0, 0, 0);
    padding: 16px 18px;
    font-family: "Inconsolata", sans-serif;
    text-align: center;	
    background-color: #c2d4d4;
    font-size: 22px;
    border-radius: 10px 10px;
    opacity: 0.99;
  }

  .inner-text:hover{
    opacity: 0;
    transition-duration: 0.4s;
  }


  form {
    width: 50%;
    padding: 40px;
    margin: auto;
    border: dotted 3px rgb(129, 129, 129);
    background-color: rgb(248, 248, 248);
    position: relative;
    /* width: 80%; */
    border-radius: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0 3px 3px 0 rgba(90, 116, 148, 0.4);
  
    padding-top: 20px;
    padding-bottom: 20px;
  }

  form:hover{
    border-radius: 28px;
    transition-duration: 0.4s;
    background-color: rgb(255, 255, 255);

  }
  

  input[type="text"]
  {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #bedde2;
    box-sizing: border-box;
    padding: 12px;
    font-size: 14px;
    font-family: monospace;
    border: dotted 2px #afd6dd;
    border-radius: 4px;
    color: black;

  }

  input[type="text"]:hover
{
  background-color:rgb(229, 242, 245) ;
  border-radius: 10px;
}

input[type="reset"], [type="submit"]
{
  border-radius: 4px;
	font-size: 15px;
	width: 20%;
	padding: 12px 10px;
	margin: 8px 1px;
	box-sizing: border-box;
	border-style:hidden;
	background-color: black;
	color: white;
  font-family: "Inconsolata", sans-serif;

}

input[type="reset"]:hover, [type="submit"]:hover
{
  
	background-color:rgb(200, 215, 224) ;
  color:rgb(0, 0, 0)!important;
	border-radius: 10px;
	transition: 0.3s;
	padding: 12px 12px;
  margin: 8px 4px;
  border-radius: 10px;



}
form
{
	text-align: center;	
}


textarea {
  font-size: 14px;
  font-family: monospace;
  border: 2px dotted #bedde2;
  border-radius: 5px;
  /* margin: 5px; */
  width: 400px;
  height: 150px;
  color: black;
} 

  textarea:hover{
    background-color:rgb(229, 242, 245) ;

  }
  


  #about2{
    float: left;
    padding:12px 24px;
    float:left;
    width:50%;
    /* color: rgb(0, 0, 0); */
    font-size: 14;
	text-decoration: none;
	font-family: "Inconsolata", sans-serif;
  }

  .about-photo{
    right: px;
    max-width:100%;
    height:auto;
    border-radius:4px;
    opacity: 0.8;
  }
  
  .about-photo:hover{
    opacity: 1;
    transition-duration: 0.4s;
  }

  .in-numbers{
    background-color: #c6d3da;
    opacity: 0.9; 
    padding: top 20px;
    padding-bottom:16px;
  }

  .in-numbers:hover{
    background-color: #b8c1c7;
    opacity:1; 
    transition-duration: 0.4s;

  }
  
  
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: rgb(233, 233, 233);
}

.styled-table thead tr {
  background-color: #2f86a0;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}






footer{
  background-color: rgb(0, 0, 0);
  height: 100px;
 /* padding: 50% 50%; */
 text-decoration: none;
 font-family: "Inconsolata", sans-serif;
 text-align: center;	

 }


.up
{
	border:none;
	display:inline-block;
  float: left;
  top: 5px;
	padding:15px 15px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	color:	#e2e0dc;
	background-color:inherit;
  transition-duration: 0.5s;

}

.up2
{
	border:none;
	display:inline-block;
  float: right;
	padding:15px 15px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	color:	#e2e0dc;
	background-color:inherit;
}



.up:hover
{
	color:rgb(0, 0, 0);
	background-color:#e2e0dc;
	border-radius: 18px;
	transition: 0.6s;

}

.up2:hover
{
	color:rgb(0, 0, 0)!important;
	background-color:#e2e0dc!important;
	border-radius: 18px;
  transition-duration: 0.6s;

}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
}

.slide-photo{
  max-width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 95%; 
  width: auto;
  margin-top: -22px;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.perv{

  border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}

/* Caption text */
.text {
  opacity: 0.8;
  color: #ffffff;
  background-color: #000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%}
.w3-col.s1{width:8.33333%}.w3-col.s2{width:16.66666%}.w3-col.s3{width:24.99999%}.w3-col.s4{width:33.33333%}
.w3-col.s5{width:41.66666%}.w3-col.s6{width:49.99999%}.w3-col.s7{width:58.33333%}.w3-col.s8{width:66.66666%}
.w3-col.s9{width:74.99999%}.w3-col.s10{width:83.33333%}.w3-col.s11{width:91.66666%}.w3-col.s12{width:99.99999%}
@media (min-width:601px){.w3-col.m1{width:8.33333%}.w3-col.m2{width:16.66666%}.w3-col.m3,.w3-quarter{width:24.99999%}.w3-col.m4,.w3-third{width:33.33333%}
.w3-col.m5{width:41.66666%}.w3-col.m6,.w3-half{width:49.99999%}.w3-col.m7{width:58.33333%}.w3-col.m8,.w3-twothird{width:66.66666%}
.w3-col.m9,.w3-threequarter{width:74.99999%}.w3-col.m10{width:83.33333%}.w3-col.m11{width:91.66666%}.w3-col.m12{width:99.99999%}}
